<!DOCTYPE html>
<html>
    <head>
        <title>Ping</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <main>
        {% block main %}
        {% endblock %}
        </main>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
                console.log(socket);
            });
        </script>
        <script type="text/javascript" src="/static/scripts/{% block script %}{% endblock %}.js"></script>
    </body>
</html>
