<!DOCTYPE html>
<html>
    <head>
        <title>Ping</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
        <link type="image/png" rel="shortcut icon" href="https://socket.io/images/favicon.png">
    </head>
    <body>
        <main>
        {% block main %}
        {% endblock %}
        </main>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + location.host);
            socket.on('connect', function() {
                console.log(socket.connected ? "Connected!" : "Disconnected.");
            });
        </script>
        <script type="text/javascript" src="/static/scripts/{% block script %}{% endblock %}.js"></script>
    </body>
</html>
